[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW
expire_logs_days = 10
max_binlog_size = 100M
binlog_do_db = gestion_personal

innodb_buffer_pool_size = 256M
max_connections = 200
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log_slave_updates = ON
gtid_strict_mode = ON
gtid_domain_id = 1
auto_increment_increment = 2
auto_increment_offset = 1
relay_log = mysqld-relay-bin
log-basename = mysql-master